.current-weather__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 15px;
    border-right: 1px solid wheat;
}
.current-weather__container .icon-col {
}
.current-weather__container .icon-col .icon {
    width: 250px;
    height: 250px;
}
.current-weather__container .text-col .temp {
    display: block;
    font-size: 3.1rem;
    letter-spacing: 3px;
}
.current-weather__container .text-col .desc {
    font-weight: 300;
    font-size: 1.4rem;
    color: #bbc4e9;
}
