.current-weather__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 0.9375rem;
    border: 0;
    border-right: 1px solid wheat;
}
.current-weather__container .icon-col {
}
.current-weather__container .icon-col .icon {
    width: 15.625rem;
    height: 15.625rem;
}
.current-weather__container .text-col .temp {
    display: block;
    font-size: 3.1rem;
    letter-spacing: 0.1875rem;
}
.current-weather__container .text-col .desc {
    font-weight: 300;
    font-size: 1.4rem;
    color: #bbc4e9;
}

@media screen and (max-width: 1200px) {
    .current-weather__container .icon-col .icon {
        width: 12.5rem;
        height: 12.5rem;
    }
    .current-weather__container .text-col .temp {
        font-size: 2.7rem;
        letter-spacing: 0.1875rem;
    }
    .current-weather__container .text-col .desc {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 991px) {
    .current-weather__container {
        margin-bottom: 2rem;
        border-right: 0;
        border-bottom: 1px solid #8390d6;
    }
}
