.weekly-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 4px;

    margin: 15px 0;
}
.weekly-card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weekly-card .daydate .day,
.weekly-card .high .temp,
.weekly-card .weather .temp,
.weekly-card .wind .speed,
.weekly-card .rain .percentage {
    font-size: 1.3rem;
}
.weekly-card .daydate .date,
.weekly-card .high .desc,
.weekly-card .weather .desc,
.weekly-card .wind .desc,
.weekly-card .rain .desc {
    color: #8390d6;
}

.weekly-card .weather .desc {
}

@media screen and (min-width: 992px) {
}

@media screen and (max-width: 992px) {
    .weekly-card > div {
        flex-basis: 33%;
    }
    .weekly-card .img-wrapper img {
        width: 100px;
        height: 100px;
    }
}
