.weekly-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.625rem 1.875rem;
    background-color: rgba(0, 0, 0, 0.199);
    border-radius: 0.25rem;

    margin: 0.9375rem 0;
}
.weekly-card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weekly-card .daydate .day,
.weekly-card .high .temp,
.weekly-card .weather .temp,
.weekly-card .wind .speed,
.weekly-card .rain .percentage {
    font-size: 1.3rem;
}
.weekly-card .daydate .date,
.weekly-card .high .desc,
.weekly-card .weather .desc,
.weekly-card .wind .desc,
.weekly-card .rain .desc {
    color: #8390d6;
}

@media screen and (max-width: 992px) {
    .weekly-card .img-wrapper img {
        width: 6.25rem;
        height: 6.25rem;
    }
}
@media screen and (max-width: 768px) {
    .weekly-card > div {
        flex-basis: 33%;
    }
}
@media screen and (max-width: 390px) {
    .weekly-card > div {
        flex-basis: 41%;
    }
}
