.hourly-forecast {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hourly-forecast .title {
    font-weight: 300;
    margin-bottom: 1rem;
}
.hourly-forecast .cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 840px) {
    .hourly-forecast .cards-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 630px) {
    .hourly-forecast .cards-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 400px) {
    .hourly-forecast .cards-wrapper {
        grid-template-columns: 1fr;
    }
}
