@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    color: white;
}

p {
    margin-bottom: 0;
}
