@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
:root {
}
@media screen and (max-width: 992px) {
    :root {
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}
@media screen and (max-width: 550px) {
    :root {
        font-size: 13px;
    }
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    color: white;
}

p {
    margin-bottom: 0;
}
